# Temporary files
*.pyc
*.pyo
*.swp
.#*

# Generated sources
client/sources/import-tab.c
client/sources/import-tab.h
client/sources/revision.h
client/sources-linux/revision.h
client/sources-linux/ld_hooks_64.c
client/sources-linux/ld_hooks_64d.c
client/android_sources/buildozer.spec

# Compiled files
client/sources/*.obj
client/sources/*.obj
client/sources/_ghost*
client/sources/resources

client/pyoxidizer-build/lib/ghost
client/pyoxidizer-build/library_patches_py3

client/sources-linux/*.o
client/sources-linux/*.lin
client/sources-linux/*.so
client/sources-linux/resources

ghost/payload_templates/*.toc
ghost/payload_templates/*.dll
ghost/payload_templates/*.exp
ghost/payload_templates/*.lib
ghost/payload_templates/*.zip
ghost/payload_templates/*.exe
ghost/payload_templates/*.lin
ghost/payload_templates/*.lin.so
ghost/payload_templates/*.pyd

# ghost
ghost/.ghost_history
ghost/config
ghost/crypto
ghost/data
ghost/proxy/proxy

build
ghost.egg-info
.ghost_history
ghostvenv
